<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-wide customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-admin-path="../admin/"
  data-template="vertical-menu-template-free"
  data-style="light"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Scenthearts Studio</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <!-- <link
      rel="icon"
      type="image/x-icon"
      href="../admin/img/favicon/ss-logo.ico"
    /> -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="../admin/img/favicon/ss-logo.png"
    />
    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
    />

    <link rel="stylesheet" href="../admin/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link
      rel="stylesheet"
      href="../admin/vendor/css/core.css"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      href="../admin/vendor/css/theme-default.css"
      class="template-customizer-theme-css"
    />
    <link rel="stylesheet" href="../admin/css/demo.css" />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      href="../admin/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"
    />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="../admin/vendor/css/pages/page-auth.css" />

    <!-- Helpers -->
    <script src="../admin/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../admin/js/config.js"></script>
  </head>

  <body>
    <!-- Content -->
    <!-- Page Preloder -->
    <div th:insert="~{/user/fragments/preloder :: preloder}"></div>
    <!-- Page Preloder End-->

    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register -->
          <div class="card px-sm-6 px-0">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a th:href="@{/admin-login}" class="app-brand-link gap-2">
                  <span class="app-brand-logo demo">
                    <img src="../admin/img/ss-logo2.png" alt="" />
                  </span>
                  <span class="app-brand-text demo text-heading fw-bold"
                    >Scenthears Studio</span
                  >
                </a>
              </div>
              <!-- /Logo -->
              <h4 class="mb-1">Welcome to Scenthears Studio</h4>
              <p class="mb-6">Sign-in to your account</p>

              <form id="formAuthentication" class="mb-6">
                <div class="mb-6">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter your email"
                    autofocus
                  />
                </div>
                <div class="mb-6 form-password-toggle">
                  <label class="form-label" for="password">Password</label>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="password"
                      class="form-control"
                      name="password"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password"
                    />
                    <span class="input-group-text cursor-pointer"
                      ><i class="bx bx-hide"></i
                    ></span>
                  </div>
                </div>
                <div class="mb-8">
                  <div class="d-flex justify-content-between mt-8">
                    <div class="form-check mb-0 ms-2">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="remember-me"
                      />
                      <label class="form-check-label" for="remember-me">
                        Remember Me
                      </label>
                    </div>
                    <a th:href="@{/forgot-password}">
                      <span>Forgot Password?</span>
                    </a>
                  </div>
                </div>
                <div class="mb-6">
                  <button
                    class="btn text-white d-grid w-100 self-btn"
                    type="submit"
                  >
                    Login
                  </button>
                </div>
              </form>

              <p class="text-center">
                <span>New on our platform?</span>
                <a th:href="@{/register}">
                  <span>Create an account</span>
                </a>
              </p>
            </div>
          </div>
          <!-- /Register -->
        </div>
      </div>
    </div>

    <!-- / Content -->

    <!-- Core JS -->
    <!-- build:js admin/vendor/js/core.js -->

    <script src="../admin/vendor/libs/jquery/jquery.js"></script>
    <script src="../admin/vendor/libs/popper/popper.js"></script>
    <script src="../admin/vendor/js/bootstrap.js"></script>
    <script src="../admin/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../admin/vendor/js/menu.js"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../admin/js/main.js"></script>

    <!-- Page JS -->

    <!-- Place this tag before closing body tag for github widget button. -->
    <!-- <script async defer src="https://buttons.github.io/buttons.js"></script> -->
    <!-- Ajax API -->
    <script>
      async function loginAPI(email, password) {
        var form = new FormData();
        form.append("email", email);
        form.append("password", password);

        var settings = {
          url: "/api/login",
          method: "POST",
          timeout: 0,
          processData: false,
          mimeType: "multipart/form-data",
          contentType: false,
          data: form,
        };

        return $.ajax(settings);
      }

      function loginSuccessAPI(user_id) {
        var form = new FormData();
        form.append("user_id", user_id);

        var settings = {
          url: "/login/success",
          method: "POST",
          timeout: 0,
          processData: false,
          mimeType: "multipart/form-data",
          contentType: false,
          data: form,
        };

        return $.ajax(settings);
      }
    </script>
    <script>
      $(document).ready(function () {
        $("#formAuthentication").on("submit", async function (e) {
          e.preventDefault();
          const email = $("#email").val();
          // console.log(email);
          const password = $("#password").val();
          // console.log(password);

          if (!email || !password) {
            alert("Email and Password cannot be empty.");
            return;
          }

          try {
            const res = await loginAPI(email, password);
            const response = JSON.parse(res);
            console.log(response);

            if (response.code == 200) {
              // Set token to local storage
              localStorage.setItem("token", response.data.token);
              // Redirect to dashboard
              loginSuccessAPI(response.data.user_id);
              window.location.href = "/";
            } else {
              alert(response.message);
            }
          } catch (error) {
            console.error("Error:", error);
            alert("Login gagal! Silakan coba lagi.");
          }
        });
      });
    </script>
  </body>
</html>
