<!DOCTYPE html>
<html lang="en" xmlns:th="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scenthearts Studio</title>

    <!-- <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> -->
    <link href="/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="/jqueryui/jquery-ui.min.css" rel="stylesheet" />

    <!--CSS -->
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Alpine js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!--Feather Icons-->
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <!-- <script src="/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src="/jqueryui/jquery-ui.min.js"></script>
    <!--Fonts-->
    <link href="/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <nav th:replace="/fragments/header.html :: header"></nav>
    <!--Navbar-->
    <!--End Navbar-->

    <!--Hero section start-->
    <section class="hero" id="home">
      <div class="mask-container">
        <main class="content">
          <h1>Enhance your attractiveness with <span>Scenthearts Studio</span></h1>
          <p>Scenthearts Studio provide a variety of attractive jewelry</p>
        </main>
      </div>
    </section>
    <!--Hero section ends-->

    <!--About section start-->
    <!--About section end-->

    <!--category Section start-->
    <section id="category" class="category">
      <h2>Our<span> Jewelry Categories</span></h2>
      <p>Check jewelry that you want below</p>
      <div class="row">
        <div class="category-card">
        <a href="/categories/rings"><img src="http://localhost:8080/images/categories/gambar1.jpg" alt="Rings" class="category-card-img" /></a>  
          <h3 class="category-card-title"> <a href="">Rings</a> </h3>
        </div>
        <div class="category-card">
        <a href=""><img src="http://localhost:8080/images/categories/gambar1.jpg" alt="necklaces and pendants" class="category-card-img" /></a>  
          <h3 class="category-card-title"> <a href="">Necklaces and pendants</a> </h3>
        </div>
        <div class="category-card">
          <a href=""><img src="http://localhost:8080/images/categories/3.jpg" alt="Earrings" class="category-card-img" /></a> 
          <h3 class="category-card-title"><a href="">Earrings</a></h3>
        </div>
        <div class="category-card">
          <a href=""><img src="http://localhost:8080/images/categories/4.jpg" alt="Bracelets" class="category-card-img" /></a> 
          <h3 class="category-card-title"><a href="">Bracelets</a></h3>
        </div>
        <div class="category-card">
         <a href=""> <img src="http://localhost:8080/images/categories/5.jpg" alt="Broochs" class="category-card-img" /></a> 
          <h3 class="category-card-title"><a href="">Broochs</a></h3>
        </div>
    </section>
    <!--category Section end-->

    <!-- Products section start -->
    <section class="products" id="products" x-data="products">
      <h2>Our <span> Flagship Product</span></h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error perferendis quae quo, odit corporis vitae?</p>
      <div class="row">
        <template x-for="item in items" x-key="item.id">
        <div class="product-card">
          <div class="product-icon">
            <a href="#" @click.prevent="$store.shoppingCart.add(item)"><svg
              width="24"
              height="24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <use href="http://localhost:8080/images/feather-icons/feather-sprite.svg#shopping-cart" />
            </svg></a>
            <a href="#" class="item-detail-button">
              <svg
              width="24"
              height="24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <use href="http://localhost:8080/images/feather-icons/feather-sprite.svg#eye" />
            </svg>
            </a>
          </div>
          <div class="product-image">
            <img :src="`http://localhost:8080/images/products/${item.img}`" :alt="item.name" />
        </div>
          <div class="product-content">
            <h3 x-text="item.name"></h3>
            <div class="product-stars">
              <!-- <i data-feather="star" class="star-full"></i>
              <i data-feather="star" class="star-full"></i>
              <i data-feather="star" class="star-full"></i>
              <i data-feather="star" class="star-full"></i>
              <i data-feather="star" class="star-full"></i> -->
              <input value="5" name="rating" id="star5" type="radio">
              <label for="star5"></label>
              <input value="4" name="rating" id="star4" type="radio">
              <label for="star4"></label>
              <input value="3" name="rating" id="star3" type="radio">
              <label for="star3"></label>
              <input value="2" name="rating" id="star2" type="radio">
              <label for="star2"></label>
              <input value="1" name="rating" id="star1" type="radio">
              <label for="star1"></label>
            </div>
            <div class="product-price" x-text="rupiah(item.price)"></div>
            <div class="product-price-discount">$100</div>
          </div>
        </div>
      </template>
      </div> 
      
    <!-- View All section start -->
      <div class="row-view-all">
        <!-- <a href="/categories/allproducts"> -->
        <a href="/categories/allproducts">
      <button class="view-all">
        <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
        </span>
        <span class="button-text-view-all" type="button">View All</span>
      </button>
    </a>
    </div>
    <!-- View All section end -->
    </section>
    <!-- Products section end -->
    
    <!-- Modal Box Item Detail Start  -->
    <div class="modal" id="item-detail-modal">
      <div class="modal-container">
        <a href="#" class="close-icon"><i data-feather="x"></i></a>
        <div class="modal-content">
          <img src="http://localhost:8080/images/products/j1.jpg" alt="Jewelry A" />
          <div class="product-content">
            <h3>Jewelry A</h3>
            <p class="desc">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio itaque harum maiores. Quidem laboriosam eius nostrum dolor ut nemo iure quasi, quisquam nobis odit, voluptates officiis assumenda! Ut facilis iure corporis
              tenetur! Commodi ut vero voluptatum dolorem officiis ratione veritatis.
            </p>
            <div class="product-stars">
              <!-- <i data-feather="star" class="star-full"></i>
              <i data-feather="star" class="star-full"></i>
              <i data-feather="star" class="star-full"></i>
              <i data-feather="star" class="star-full"></i>
              <i data-feather="star" class="star-full"></i> -->
              <input value="5" name="rating" id="star5" type="radio">
              <label for="star5"></label>
              <input value="4" name="rating" id="star4" type="radio">
              <label for="star4"></label>
              <input value="3" name="rating" id="star3" type="radio">
              <label for="star3"></label>
              <input value="2" name="rating" id="star2" type="radio">
              <label for="star2"></label>
              <input value="1" name="rating" id="star1" type="radio">
              <label for="star1"></label>
            </div>
            <div class="product-group-cart">
            <div class="product-price">$50<span>$100</span></div>
            <!-- <a href="#"><i data-feather="shopping-cart"></i><span>Add to cart</span></a> -->
            <button class="CartBtn">
              <span class="IconContainer"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);"><path d="M21.822 7.431A1 1 0 0 0 21 7H7.333L6.179 4.23A1.994 1.994 0 0 0 4.333 3H2v2h2.333l4.744 11.385A1 1 0 0 0 10 17h8c.417 0 .79-.259.937-.648l3-8a1 1 0 0 0-.115-.921z"></path><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle></svg>
              </span>
              <p class="text">Add to Cart</p>
            </button>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Box Item Detail End  -->

    <!--Contact section start-->
    <section id="contact" class="contact">
      <h2>Our<span> Contact</span></h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, magnam.</p>
      <div class="row">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63791.10638368929!2d106.08169317621463!3d-2.1749209359040935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e22c7a7e24a4e15%3A0x46b88995170b9815!2sDul%2C%20Pangkalan%20Baru%2C%20Central%20Bangka%20Regency%2C%20Bangka%20Belitung%20Islands!5e0!3m2!1sen!2sid!4v1692646318596!5m2!1sen!2sid"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="map"
        ></iframe>
        <form action="">
          <div class="input-group">
            <i data-feather="user"></i>
            <input type="text" placeholder="Name" />
          </div>
          <div class="input-group">
            <i data-feather="mail"></i>
            <input type="text" placeholder="Email" />
          </div>
          <div class="input-group">
            <i data-feather="phone"></i>
            <input type="text" placeholder="Phone Number" />
          </div>
          <button type="submit" class="btn-submit-contact">Send</button>
        </form>
      </div>
    </section>
    <!--Contact section end-->

    <footer th:replace="/fragments/footer.html :: footer"></footer>
    <!--footer section end-->

    <!--Feather Icons-->
    <script>
      feather.replace();
    </script>

    <!--My Javascript-->
    <script src="/js/script.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
