<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scenthearts Studio</title>

    <!-- <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> -->
    <link href="/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="/jqueryui/jquery-ui.min.css" rel="stylesheet" />

    <!--CSS -->
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Alpine js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!--Feather Icons-->
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <!-- <script src="/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src="/jqueryui/jquery-ui.min.js"></script>
    <!--Fonts-->
    <link href="/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div th:fragment="category-content">
      <div class="content-all-products" x-data="products">
        <h1>All products</h1>
        <div class="row">
          <template x-for="item in items" x-key="item.id">
            <div class="product-card">
              <div class="product-icon">
                <a href="#" @click.prevent="$store.shoppingCart.add(item)"
                  ><svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <use href="http://localhost:8080/images/feather-icons/feather-sprite.svg#shopping-cart" /></svg
                ></a>
                <a href="#" class="item-detail-button">
                  <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <use href="http://localhost:8080/images/feather-icons/feather-sprite.svg#eye" />
                  </svg>
                </a>
              </div>
              <div class="product-image">
                <img :src="`http://localhost:8080/images/products/${item.img}`" :alt="item.name" />
              </div>
              <div class="product-content">
                <h3 x-text="item.name"></h3>
                <div class="product-price" x-text="rupiah(item.price)"></div>
                <div class="product-price-discount">$100</div>
              </div>
            </div>
          </template>
          <!-- <div class="product-card">
            <div class="product-icon">
              <a href="#"
                ><svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <use href="http://localhost:8080/images/feather-icons/feather-sprite.svg#shopping-cart" /></svg
              ></a>
              <a href="#" class="item-detail-button">
                <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <use href="http://localhost:8080/images/feather-icons/feather-sprite.svg#eye" />
                </svg>
              </a>
            </div>
            <div class="product-image">
              <img src="http://localhost:8080/images/products/j1.jpg" alt="" />
            </div>
            <div class="product-content">
              <h3>Test</h3>
              <div class="product-price">100</div>
              <div class="product-price-discount">$100</div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- <div id="ui-all-content"></div> -->
  </body>
</html>
