<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scenthearts Studio</title>

    <!-- <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> -->
    <!-- <link href="/src/main/resources/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> -->
    <link href="/fontawesome/css/all.min.css" rel="stylesheet" />
    <!-- <link href="/src/main/resources/static/fontawesome/css/all.min.css" rel="stylesheet" /> -->
    <link href="/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <!-- <link href="/src/main/resources/static/jqueryui/jquery-ui.min.css" rel="stylesheet" /> -->
    <!--CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- <link rel="stylesheet" href="/src/main/resources/static/css/style.css" /> -->

    <script src="/js/jquery-3.7.1.min.js"></script>
    <!-- <script src="/src/main/resources/static/js/jquery-3.7.1.min.js"></script> -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="/src/main/resources/static/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src="/jqueryui/jquery-ui.min.js"></script>
    <!-- <script src="/src/main/resources/static/jqueryui/jquery-ui.min.js"></script> -->
    <!--Fonts-->
    <link href="/fontawesome/css/all.min.css" rel="stylesheet" />
    <!-- <link href="/src/main/resources/static/fontawesome/css/all.min.css" rel="stylesheet" /> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap" rel="stylesheet" />
    <!--Feather Icons-->
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <div th:fragment="footer">
      <!--footer section start-->
      <footer>
        <div class="socials">
          <a href="#"><i data-feather="instagram"></i></a>
          <a href="#"><i data-feather="twitter"></i></a>
          <a href="#"><i data-feather="facebook"></i></a>
          <a href="#"><i data-feather="github"></i></a>
        </div>
        <div class="links">
          <a href="/">Home</a>
          <a href="/about">About Us</a>
          <a href="#category">Category</a>
          <a href="#products">Product</a>
          <a href="#contact">Contact</a>
        </div>
        <div class="credit">
          <p>
            Created by
            <svg viewBox="0 0 1792 1792" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" style="height: 0.8rem">
              <path
                d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26T145 952.5 77 855 23.5 734 0 596q0-220 127-344t351-124q62 0 126.5 21.5t120 58T820 276t76 68q36-36 76-68t95.5-68.5 120-58T1314 128q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z"
                fill="#e25555"
              ></path>
            </svg>
            <a href="">anugerahramadani</a>. | &copy; 2023.
          </p>
        </div>
      </footer>
      <!-- <a href="#" id="back-to-top">
        <button class="Btn">
          <svg height="1.2em" class="arrow" viewBox="0 0 512 512">
            <path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"></path>
          </svg>
          <p class="text-back-to-top">Back to Top</p>
        </button>
      </a> -->
      <!--footer section end-->

      <!--Feather Icons-->
      <script>
        feather.replace();
      </script>

      <!--My Javascript-->
      <!-- <script src="/js/script.js"></script> -->
      <!-- <script src="/src/main/resources/static/js/script.js"></script> -->
    </div>
  </body>
</html>
