:root {
  --primary: #46409c;
  --bg: #010101;
  --ct: #2c2f36;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--ct);
  color: #fff;
}

section.login,
section.register,
section.about,
section.all-products {
  min-height: 100vh;
}

a,
button {
  /* text-decoration: none; */
  cursor: pointer;
}

/* Navbar */
.navbarr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(54, 57, 68, 0.8);
  border-bottom: 1px solid #2c2f36;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.navbarr .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbarr .navbar-logo span {
  color: var(--primary);
}

.navbarr .navbarr-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbarr .navbarr-nav a:hover {
  color: var(--primary);
}

.navbarr .navbarr-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbarr .navbarr-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbarr .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbarr .navbar-extra a:hover {
  color: var(--primary);
}
#hamburger-menu {
  display: none;
}

/* Promo Slider */
.promo-container {
  display: flex;
  position: fixed;
  padding: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  top: 74px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgba(195, 195, 195, 0.4);
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center;
  color: white;
}

.promo-container .row-promo {
  display: flex;
  width: 100%;
  left: 0;
  right: 0;
  animation: animate-promo 13s infinite linear;
}

@keyframes animate-promo {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* LOGIN & REGISTER*/
.login,
.register {
  padding: 8rem 7% 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .form-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  background-color: #222;
  color: #fff;
  border: 1px solid #333;
  /* height: 35rem; */
}

.title-login {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #46409c;
  margin-left: 10px;
}

.title-login::before {
  width: 18px;
  height: 18px;
}

.title-login::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title-login::before,
.title-login::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #46409c;
}

.login .input-group-login {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
}
.form-login label {
  position: relative;
  width: 100%;
  margin: 10px;
}

.form-login label .input-form {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form-login label .input-form + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.1em;
  cursor: text;
  transition: 0.3s ease;
}

.form-login label .input-form:placeholder-shown + span {
  top: 12.5px;
  font-size: 1rem;
}

.form-login label .input-form:focus + span,
.form-login label .input-form:valid + span {
  color: #46409c;
  top: 0px;
  font-size: 0.9rem;
  font-weight: 600;
}

.input-form {
  font-size: medium;
}

span.toggle-password {
  display: flex;
  position: relative;
  left: 31rem;
  top: -28px;
}

.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.signin a {
  color: #46409c;
}

.signin a:hover {
  text-decoration: underline #46409c;
}

.input-group-login-button {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.submit-login {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: #46409c;
}

.submit-login:hover {
  background-color: #46409c96;
}

/* R egist */
.form-regist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
  height: 40rem;
}

.title-regist {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #46409c;
}

.title-regist::before {
  width: 18px;
  height: 18px;
}

.title-regist::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title-regist::before,
.title-regist::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #46409c;
}

.message,
.sign-up {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.sign-up {
  text-align: center;
}

.sign-up a:hover {
  text-decoration: underline #46409c;
}

.sign-up a {
  color: #46409c;
}

.register .row {
  display: flex;
  width: 100%;
  gap: 6px;
}

.btn-otp {
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: #46409c;
  text-align: center;
}

.btn-otp:hover {
  background-color: #46409c96;
}

.form-regist {
  padding: 40px;
  background-color: #222;
}

.form-regist label {
  position: relative;
}

.form-regist label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form-regist label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form-regist label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form-regist label .input:focus + span,
.form-regist label .input:valid + span {
  color: #46409c;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.btn-submit-regist {
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: #46409c;
  text-align: center;
}

.btn-submit-regist:hover {
  background-color: #46409c96;
}
@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/* Navbar form */
.navbarr .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 4rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbarr .search-form.active {
  transform: scaleY(1);
}

.navbarr .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbarr .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* Shopping Cart */
.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 510px;
  width: 36rem;
  padding: 0 1.5rem;
  background-color: #fff;
  color: var(--bg);
  transition: 0.3s;
  overflow-y: scroll;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}
.shopping-cart img {
  height: 4rem;
  border-radius: 5%;
}

.shopping-cart h3 {
  font-size: 1.3rem;
}

.shopping-cart h4 {
  margin-top: 40px;
  font-size: 1.3rem;
  text-align: center;
}

.shopping-cart .item-price {
  font-size: 1.1rem;
}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  margin: 0 8px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

#shopping-cart-button {
  position: relative;
}

#shopping-cart-button .quantity-badge {
  display: inline-block;
  padding: 1px 5px;
  background-color: red;
  border-radius: 6px;
  font-size: 0.7rem;
  position: absolute;
  top: 0;
  right: -5px;
}

/* Checkout Form */
.form-container {
  width: 100%;
  border-top: 1px dashed black;
  margin: 0.8rem 0;
  /* padding: 5px; */
}
.form-detail-customer {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  /* background-color: #1a1a1a; */
  /* color: #fff; */
  color: black;
  /* border: 1px solid #333; */
}

.title-detail-customer {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: var(--primary);
  justify-content: center;
}

.title-detail-customer::before {
  width: 16px;
  height: 16px;
}

.title-detail-customer::after {
  width: 16px;
  height: 16px;
  animation: pulse-checkout 1s linear infinite;
}

.title-detail-customer::before,
.title-detail-customer::after {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  border-radius: 50%;
  left: 8rem;
  background-color: var(--primary);
}

.input-group-detail-customer {
  position: relative;
  width: 100%;
}

.input-detail-customer {
  margin-top: 15px;
  width: 100%;
  outline: none;
  border-radius: 8px;
  height: 45px;
  border: 1.5px solid #a9a5db;
  background: transparent;
  padding-left: 10px;
}
.input-detail-customer:focus {
  border: 1.5px solid var(--primary);
}
.input-group-detail-customer .label {
  position: absolute;
  top: 25px;
  left: 15px;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 2;
}
.input-group-detail-customer .input-detail-customer:focus ~ .label,
.input-group-detail-customer .input-detail-customer:valid ~ .label {
  top: 5px;
  left: 5px;
  font-size: 12px;
  color: var(--primary);
  background-color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
}

.form-button {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.checkout-button {
  width: 140px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.5s;
}

.icon {
  border-radius: 1px;
}

.text-checkout {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: 0.5s;
  font-size: 1.04em;
  font-weight: 600;
}

.checkout-button:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: 0.5s;
}

.checkout-button:hover .text-checkout {
  transform: translate(10px, 0px);
  transition-duration: 0.5s;
}

.checkout-button:active {
  transform: scale(0.95);
  transition-duration: 0.5s;
}

/* .checkout-button {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: var(--primary);
}

.checkout-button:hover {
  background-color: #46409c96;
} */

@keyframes pulse-checkout {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/* .form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px dashed black;
  margin-top: 1rem;
  padding: 1rem;
} */

/* .form-container h5 {
  text-align: center;
  font-size: 1rem;
}

.form-container form {
  width: 100%;
  text-align: center;
}

.form-container label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.form-container span {
  text-align: center;
}

.form-container input {
  background-color: #ddd;
  padding: 5px;
  font-size: 1rem;
  width: 70%;
}

.form-container .checkout-button {
  padding: 6px 14px;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 20px;
  margin: 1rem auto;
  cursor: pointer;
} */

/* Hero section */
.hero {
  min-height: 130vh;
  display: flex;
  align-items: center;
  background-image: url("http://localhost:8080/images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}

/* .hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0)) 50%;
} */

.hero .mask-container {
  position: absolute;
  inset: 0;
  -webkit-mask-image: url("http://localhost:8080/images/hero-bg.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position: center;
}

.hero .content {
  padding: 1.4rem 7%;
  /* max-width: 60rem; */
  width: 100%;
  text-align: center;
  position: fixed;
  top: 90px;
}

.hero .content h1 {
  font-size: 4em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About Section */
.about,
/* .category, */
.products,
.contact,
.login {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.category h2,
.products h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
.about h2 span,
.category h2 span,
.products h2 span,
.contact h2 span {
  color: var(--primary);
}
.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 30rem;
  /* flex: 1 1 45rem; */
}
.about .row .about-img img {
  width: 100%;
  -webkit-mask-image: url("http://localhost:8080/images/abouts/about-img.svg");
  -webkit-mask-size: 90%;
  /* -webkit-mask-size: 50%; */
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}
.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}

/* category  Section */
.category {
  padding: 8rem 1.4rem;
  overflow: hidden;
  white-space: nowrap;
}
.category h2,
.products h2,
.contact h2 {
  margin-bottom: 1rem;
}

.category p,
.products p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
  font-size: 1.35rem;
}

.category .row {
  display: flex;
  /* flex-wrap: wrap; */
  margin-top: 5rem;
  justify-content: center;
  gap: 15px;
  left: 0;
  right: 0;
  animation: slide-left-to-right 20s infinite linear;
}

@keyframes slide-left-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.category .row:hover {
  animation-play-state: paused;
}
.category .row .category-card {
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  /* justify-content: center; */
  /* align-items: center; */
  width: 19rem;
  object-fit: fill;
  /* border: 2px solid #fff; */
}

.category .row:hover .category-card {
  filter: blur(5px);
}

.category .row .category-card img {
  border-radius: 2%;
  width: 100%;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.category .row:hover .category-card:hover {
  filter: blur(0px);
}

.category .row .category-card img:hover {
  transform: scale(1.1);
}

.category .row .category-card .category-card-title {
  margin: 1rem auto 0.5rem;
}

.category .row .category-card .category-card-title a {
  color: #fff;
}

/* Product Section */
.products .row,
.all-products .content-all-products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.products .product-card,
.all-products .content-all-products .row .product-card {
  text-align: center;
  border: 1px solid #666;
  padding: 2rem 0;
  border-radius: 5%;
}

.products .product-icon,
.all-products .content-all-products .product-icon {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.products .product-icon a,
.all-products .content-all-products .product-icon a {
  width: 3rem;
  height: 3rem;
  color: #fff;
  margin: 0.3rem;
  padding: 0.6rem;
  border: 1px solid #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .product-icon a:hover,
.all-products .content-all-products .product-icon a:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.products .product-image,
.all-products .content-all-products .product-image {
  padding: 1rem 0;
}

.products .product-image img,
.all-products .content-all-products .product-image img {
  justify-content: center;
  width: 18rem;
  object-fit: contain;
  transition: transform 0.3s ease;
  border-radius: 2%;
}

.products .product-image img:hover,
.all-products .content-all-products .product-image img:hover {
  transform: scale(1.1);
}

.products .product-content h3,
.all-products .content-all-products .product-content h3 {
  font-size: 1.2rem;
}

/* .products .product-stars {
  font-size: 1.3rem;
  padding: 0.8rem;
  color: yellow;
}
.products .product-stars .star-full {
  fill: yellow;
} */
.products .product-stars {
  display: inline-block;
}

.products .product-stars input {
  display: none;
}

.products .product-stars label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.products .product-stars label:before {
  /* content: "\2605"; */
  font-size: 30px;
}

.products .product-stars input:checked ~ label,
.products .product-stars label:hover,
.products .product-stars label:hover ~ label {
  color: yellow;
  transition: color 0.3s;
}

.products .product-price,
.all-products .content-all-products .product-price {
  font-size: 1.2rem;
  font-weight: bold;
}

.products .product-price-discount,
.all-products .content-all-products .product-price-discount {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1.1rem;
}

/* button view all */
.products .row-view-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.view-all {
  width: 12rem;
  height: auto;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  /* font-family: inherit; */
}

button.view-all .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #fff;
  border-radius: 1.625rem;
}

button.view-all .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.view-all .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.view-all .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid var(--primary);
  border-right: 0.125rem solid var(--primary);
  transform: rotate(45deg);
}

button.view-all .button-text-view-all {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: var(--primary);
  transform: translate(1rem, 0);
}

button:hover .button-text-view-all {
  color: var(--primary);
}

/* All Products */
.all-products {
  padding: 8rem 3% 1.4rem;
}

.all-products .container-all-products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
  padding: 10px;
  gap: 2rem;
  /* background-color: #fff; */
  box-sizing: border-box;
}
.all-products .sidebar-all-products {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  order: 1;
}

.all-products .sidebar-all-products .row {
  width: 100%;
  padding: 4rem 0;
  box-sizing: border-box;
}

.all-products .content-all-products {
  flex: 3;
  order: 2;
}

ul {
  list-style-type: none;
}

a {
  color: #b63b4d;
  text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/

.accordion {
  max-width: 230px;
  /* margin: 30px auto 20px; */
  /* background: #fff; */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  /* border-bottom: 1px solid black; */
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link {
  border-bottom: 0;
}

.accordion li i {
  position: absolute;
  /* top: 16px; */
  left: 12px;
  font-size: 18px;
  color: white;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  /* right: 12px; */
  right: 0px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link {
  color: var(--primary);
}

.accordion li.open i {
  color: var(--primary);
}

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*** Submenu -----------------------------*/
.submenu {
  display: none;
  /* background: #444359; */
  font-size: 14px;
}

.submenu li {
  border-bottom: 1px solid #4b4a5e;
}

.submenu a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  color: var(--primary);
}

/* PRICE RANGE */
.search-results-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ui-slider-horizontal {
  margin-bottom: 15px;
  /* width: 100%; */
  max-width: 190px;
}
.ui-widget-header {
  background: #3fe331;
}
.price-range-search {
  width: 90%;
  min-width: 40%;
  background-color: #f9f9f9;
  border: 1px solid #6e6666;
  display: inline-block;
  height: 32px;
  border-radius: 5px;
  /* float: left; */
  margin-bottom: 20px;
  font-size: 16px;
}
.price-range-field {
  /* width: 100%; */
  min-width: 44%;
  background-color: #f9f9f9;
  border: 1px solid #6e6666;
  color: black;
  border-radius: 5px;
  height: 23px;
  padding: 5px;
}

/* Modal Box */
/* Item Detail */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: rgba(0, 0, 0, 0.8); */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.modal-container {
  position: relative;
  background-color: #fefefe;
  color: var(--bg);
  margin: 15% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  height: 60%;
  /* height: 100%; */
  animation: animateModal 0.5s;
}

.modal .product-price {
  font-size: 1.8rem;
  font-weight: bold;
}
.modal .product-price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1rem;
  margin-left: 2px;
  /* display: block; */
}

/* .modal .product-stars {
  padding: 1rem 0;
  font-size: 1.7rem;
  color: var(--primary);
}

.modal .product-stars .star-full {
  fill: yellow;
} */

.modal .product-stars {
  display: inline-block;
}

.modal .product-stars input {
  display: none;
}

.modal .product-stars label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.modal .product-stars label:before {
  content: "\2605";
  font-size: 30px;
}

.modal .product-stars input:checked ~ label,
.modal .product-stars label:hover,
.modal .product-stars label:hover ~ label {
  color: yellow;
  transition: color 0.3s;
}

/* Modal Animation */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  height: 20rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content .desc {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

/* .modal-content a {
  display: flex;
  gap: 1rem;
  height: 4rem;
  width: 12rem;
  background-color: var(--primary);
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
  border-radius: 5%;
} */
.product-group-cart {
  display: flex;
  justify-content: start;
  margin: 2rem 0;
  gap: 5rem;
}
.CartBtn {
  width: 140px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.5s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 1;
  transition-duration: 0.5s;
  font-size: 1.04em;
  font-weight: 600;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: 0.5s;
}

.CartBtn:hover .text {
  transform: translate(10px, 0px);
  transition-duration: 0.5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: 0.5s;
}

/* Contact Section*/
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
  border-radius: 2%;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
  border-radius: 20px;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn-submit-contact {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 20px;
}

.contact .row form .btn-submit-contact:hover {
  background-color: #46409c96;
}

.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

/* Footer */

footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}
footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

.Btn {
  width: 40px;
  height: 40px;
  background: linear-gradient(#4f48b0, #261cb1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  border: none;
  z-index: 9999;
  bottom: 35px;
  right: 45px;
}

.arrow path {
  fill: white;
}

.text-back-to-top {
  font-size: 0.7em;
  width: 100px;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -18px;
  opacity: 0;
  transition-duration: 0.7s;
}

.Btn:hover .text-back-to-top {
  opacity: 1;
  transition-duration: 0.7s;
}

.Btn:hover .arrow {
  animation: slide-in-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}
/* Tablet */
@media (max-width: 884px) {
  html {
    font-size: 70%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbarr .navbarr-nav {
    position: absolute;
    /* position: fixed; */
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbarr .navbarr-nav.active {
    right: 0;
  }

  .navbarr .navbarr-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbarr .navbarr-nav a::after {
    transform-origin: 0 0;
  }

  .navbarr .navbarr-nav a:hover::after {
    transform: scaleX(0.25);
  }

  .navbarr .search-form {
    width: 90%;
    right: 2rem;
  }

  .promo-container {
    top: 64px;
  }

  /* category */
  .category .row .category-card {
    width: 40rem;
  }
  .category .row .category-card img {
    width: 20rem;
  }
  /* About */
  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }

  .modal-content {
    flex-wrap: wrap;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .navbarr {
    padding: 1.4rem 3%;
  }

  .promo-container {
    top: 53px;
  }

  .login .form-login {
    height: 50rem;
  }

  .register .form-regist {
    height: 50rem;
  }

  .Btn {
    width: 30px;
    height: 30px;
    bottom: 45px;
    right: 10px;
  }

  .all-products .sidebar-all-products .row {
    display: flex;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
  }

  .accordion {
    width: 100%;
    /* margin: 30px auto 20px; */
    /* background: #fff; */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  .all-products .container-all-products {
    display: inline-block;
    /* width: 100%;
    margin-top: 1rem;
    padding: 10px;
    gap: 2rem;
    box-sizing: border-box; */
  }

  .products .row,
  .all-products .content-all-products .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    /* gap: 1.5rem; */
    /* margin-top: 4rem; */
    margin-bottom: 1rem;
  }

  .products .product-image img,
  .all-products .content-all-products .product-image img {
    justify-content: center;
    width: 90%;
    object-fit: contain;
    transition: transform 0.3s ease;
    border-radius: 2%;
  }
}
