<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scenthearts Studio</title>

    <!-- <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> -->
    <!-- <link href="/src/main/resources/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> -->
    <link href="/fontawesome/css/all.min.css" rel="stylesheet" />
    <!-- <link href="/src/main/resources/static/fontawesome/css/all.min.css" rel="stylesheet" /> -->
    <link href="/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <!-- <link href="/src/main/resources/static/jqueryui/jquery-ui.min.css" rel="stylesheet" /> -->

    <!--CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- <link rel="stylesheet" href="/src/main/resources/static/css/style.css" /> -->

    <!-- Alpine js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!--Feather Icons-->
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <!-- <script src="/src/main/resources/static/js/jquery-3.7.1.min.js"></script> -->
    <!-- <script src="/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <!-- <script src="/src/main/resources/static/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src="/jqueryui/jquery-ui.min.js"></script>
    <!-- <script src="/src/main/resources/static/jqueryui/jquery-ui.min.js"></script> -->
    <!--Fonts-->
    <link href="/fontawesome/css/all.min.css" rel="stylesheet" />
    <!-- <link href="/src/main/resources/static/fontawesome/css/all.min.css" rel="stylesheet" /> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <nav th:replace="/fragments/header.html :: header"></nav>
    <!--register section start-->
    <section id="register" class="register">
      <form class="form-regist">
        <p class="title-regist">Register</p>
        <p class="message">Signup now and get full access to our app.</p>
        <div class="row">
          <label>
            <input required="" placeholder="" type="text" class="input" />
            <span>Firstname</span>
          </label>

          <label>
            <input required="" placeholder="" type="text" class="input" />
            <span>Lastname</span>
          </label>
        </div>

        <label>
          <input required="" placeholder="" type="email" class="input" />
          <span>Email</span>
        </label>

        <label>
          <input required="" placeholder="" type="password" class="input" />
          <span>Password</span>
        </label>
        <label>
          <input required="" placeholder="" type="password" class="input" />
          <span>Confirm password</span>
        </label>
        <button class="btn-submit-regist">Submit</button>
        <p class="sign-up">Already have an acount ? <a href="/login">Signin</a></p>
      </form>
    </section>
    <!--register section end-->
    <footer th:replace="/fragments/footer.html :: footer"></footer>

    <!--Feather Icons-->
    <script>
      feather.replace();
    </script>

    <!--My Javascript-->
    <script src="/js/script.js"></script>
    <!-- <script src="/src/main/resources/static/js/script.js"></script> -->
  </body>
</html>
