<head xmlns:th="http://www.thymeleaf.org" layout:fragment="head">
  <meta charset="UTF-8" />
  <meta name="description" content="Scenthears Studio Jewelry Shop" />
  <meta
    name="keywords"
    content="Jewelry, gold, silver, rings, necklaces, bracelets, pendants, 925"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Scenthearts Studio</title>
  <link
    rel="shortcut icon"
    type="image/png"
    th:href="@{/user/img/ss-logo2.png}"
  />

  <!-- Google Font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
    rel="stylesheet"
  />

  <!-- Css Styles -->
  <link
    rel="stylesheet"
    th:href="@{/user/css/bootstrap.min.css}"
    type="text/css"
  />
  <link
    rel="stylesheet"
    th:href="@{/user/css/font-awesome.min.css}"
    type="text/css"
  />
  <link
    rel="stylesheet"
    th:href="@{/user/css/elegant-icons.css}"
    type="text/css"
  />
  <link
    rel="stylesheet"
    th:href="@{/user/css/nice-select.css}"
    type="text/css"
  />
  <link
    rel="stylesheet"
    th:href="@{/user/css/jquery-ui.min.css}"
    type="text/css"
  />
  <link
    rel="stylesheet"
    th:href="@{/user/css/owl.carousel.min.css}"
    type="text/css"
  />
  <link
    rel="stylesheet"
    th:href="@{/user/css/slicknav.min.css}"
    type="text/css"
  />
  <link rel="stylesheet" th:href="@{/user/css/style.css}" type="text/css" />
</head>
