<th:block th:fragment="scripts" xmlns:th="http://www.w3.org/1999/xhtml">
  <script th:src="@{/user/js/jquery-3.3.1.min.js}"></script>
  <script th:src="@{/user/js/bootstrap.min.js}"></script>
  <script th:src="@{/user/js/jquery.nice-select.min.js}"></script>
  <script th:src="@{/user/js/jquery-ui.min.js}"></script>
  <script th:src="@{/user/js/jquery.slicknav.js}"></script>
  <script th:src="@{/user/js/mixitup.min.js}"></script>
  <script th:src="@{/user/js/owl.carousel.min.js}"></script>
  <script th:src="@{/user/js/main.js}"></script>
</th:block>
